# Server
fastapi
uvicorn[standard]
psycopg2-binary
sqlalchemy
pgvector
numpy
structlog
pydantic

# Diagrams
matplotlib

# Himalayan Database SQL .xls file processing
python_calamine
pandas
xlrd

# Databases
psql
